SECRET_KEY="SECRETO"
APP_PORT=
APP_HOST=
MYSQL_DATABASE=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_HOST=""
DATABASE_PORT=
AWS_REGION=""
AWS_BUCKET_NAME=""
S3_AWS_ACCESS_KEY_ID=""
S3_AWS_SECRET_ACCESS_KEY=""
COGNITO_USER_POOL_ID=""
COGNITO_USER_POOL_CLIENT_ID=""
COGNITO_IDENTITY_POOL_ID=""
COGNITO_AWS_ACCESS_KEY_ID=""
COGNITO_AWS_SECRET_ACCESS_KEY=""