SECRET_KEY="SECRETO"
APP_PORT=
APP_HOST=
MYSQL_DATABASE=""
MYSQL_USER=""
MYSQL_PASSWORD=""
MYSQL_HOST=""
DATABASE_PORT=
AWS_REGION=""
AWS_BUCKET_NAME=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
COGNITO_USER_POOL_ID=""
COGNITO_USER_POOL_CLIENT_ID=""
COGNITO_IDENTITY_POOL_ID=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""  
ADMIN_VALIDATION=""